html {
  box-sizing: border-box;
}

.small {
  font-size: 0.8em;
  line-height: 150%;
  margin: 0;
}

a:link {
  color: #898989;
}

a:visited {
  color: #7e7e7f;
}

a:hover {
  color: #e2e2e2;
}

a:active {
  color: #e2e2e2;
}

h1 {
  font-size: 5vmax;
  margin-bottom: 5%;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', serif;
  line-height: 115%;
}

h2, h3, h4 {
  margin: 5% 0% 2% 0%;
}

div {
  font-family: 'Merriweather', serif;
  font-size: 1em;
  line-height: 150%;
  margin: 4% 0% 4% 0%;
}

#main-container {
  margin: 0 5% 0 5%;
}

#meltingpot, #future {
  width: 100%;
  height: auto;
  margin-right: 0;
}

#future {
  filter: grayscale(100%);
}

/* START OF RELATED NEWS */
.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text > a {
  text-decoration: none;
  color: #000000;
}
.latest-news {
  border: 1px solid #dddddd;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 5px #cccccc;
}
.thumbnail {
  flex-basis: 20%;
  max-width: 20%;
  height: auto;
  margin-right: 10px;
}
.text {
  flex-basis: 80%;
}
.byline {
  font-size: 0.8em;
}
/* END OF RELATED NEWS */

#comparisonContainer {
  min-width: 310px;
  height: 80vh;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .main-container {
    width: 450px;
    margin: 0 auto;
  }
  h1 {
    font-size: 5.5vmax;
  }
  h1, h2, h3, h4 {
    line-height: 120%;
  }
  div {
    font-family: 'Merriweather', serif;
    font-size: 1.03em;
    line-height: 155%;
    margin: 2% 0% 2% 0%;
  }
  #meltingpot, #future {
    float: left;
    height: auto;
    margin-right: 3.5%;
  }
  #meltingpot {
    width: 50%;
  }
  #future {
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .main-container {
    width: 720px;
  }
  #meltingpot {
    width: 20%;
  }
  #future {
    width: 50%;
  }
  div {
    font-family: 'Merriweather', serif;
    font-size: 1.05em;
    line-height: 160%;
  }
}
